.auth_block{
    display: flex;
    justify-content: space-between;
    @media (max-width:768px) {
        display: none;
    }
}
.auth_block_burger{
    display:none;
    @media (max-width:768px) {
        display: block;
        // position: ;
    }
}

// .button{
//     width: 75px;
//     height: 50px;
//     font-size: 25px;
//     color: $black;
//     border: 1px solid $black;
//     border-radius: 10%;
//     background-color: gray;
//     opacity: 0.9;
//     margin-right:10px;
// }
.button {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #1D1B26;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    font-size: 16px;
    margin: 20px 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    @media (max-width:1000px) {
      margin:20px 5px;
    }
  }
  .button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 5;
    opacity: 0.3;
    background-color: white;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
//   .button:hover {
//     // background: rgba(255, 255, 255, 0);
//   }
  .button:hover::before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }