.navigation{
    background-color: yellowgreen;
    height:100%;
}

.navigation_bar{
    display: block;
    position: relative;
    
    width: 100%; 
}
.nav_list_no_burger{
    display: flex;
    flex-direction: row;
    @media (max-width:768px) {
        display: none;
        
    }
}

.nav_list_burger{
    display: flex;
    flex-direction: row;
    padding:0px;
    @media (max-width:768px) {
        display: inline-block;
        width: 100%;
    }
}
.nav_item {
    display: block;
    width: 90%;
    
    margin: 0px 20px;
    list-style-type: none;
    @media (max-width:768px) {
        margin: 20px 0px;
    }
    
}
.nav_item a{
    text-decoration: none;
    font-weight: 700;
    &:hover{
        color: white;
        text-decoration: underline;
    }
}

.burger_menu{
    display: none;
    @media (max-width:768px) {
    display: block;
    color: white;
    opacity: 0;
    background-color: white;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 20; 
        
    }

}

.nav_block{


    @media (max-width:768px) {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 20; 
    }
   
}
.opened{
    @media (max-width:768px) {
        opacity: 1;
       
        
        }
    
}



